# This file includes global variables that will be available inside your project
# In the app.py file, you can access the variable by importing os and then using print(os.getenv('VARIABLE_NAME'))

CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret