# This file includes global variables that will be available inside your project
# In the app.py file, you can access the variable by importing os and then using print(os.getenv('VARIABLE_NAME'))

CLIENT_ID=43e01421459d47688a5cad29d0b1ed8b
CLIENT_SECRET=0b747a3a6b4e4d31a8b356a91d558bcf